.chart {
    width: 95vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 30% 70%;
    border: #E8EFFD solid 1px;
    border-radius: 5px;
    padding-bottom: 2.5rem;
    padding-right: 1.5rem;
}

.menu {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
}

.draw-area {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.search-box {
    padding: 0.5rem;
    border-right: #E8EFFD solid 1px;
    border-bottom: #E8EFFD solid 1px;
}

.search-input {
    background-color: #F7F9FD;
    border: none;
    border: #E8EFFD solid 1px;
    border-radius: 5px;
    color: #7E8A95;
    height: 5vh;
    font-size: 0.8rem;
    width: 98%;
    text-indent: 5%;
}

.projects-wrapper {
    border-right: #E8EFFD solid 1px;
}

.project {
    width: 100%;
    min-height: 6.77vh;
}

.dropdown-button {
    display: inline-block;
    border: none;
    background: transparent;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.project-name {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 1.2rem;
}

.project-phase {
    display: inline-block;
    float: right;
    height: 100%;
}

.project-phase-para {
    font-size: 0.65rem;
    font-weight: 500;
    margin-top: 1.0rem;
    margin-right: 1.0rem;
    color: white;
    background-color: #88959F;
    border-radius: 3px;
    height: 20px;
    line-height: 20px;
    padding: 0.2rem;
    text-transform: uppercase;
}
/* Charts SVG */

.calendar {
    fill: white;
    stroke-opacity: 0;
}

.dates {
    fill: #7E8A95;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.current-day-line {
    stroke: #5A5A5A;
}

.current-day-circle {
    fill: #5A5A5A
}

.milestones {
    fill: #3EA66C;
}

.milestones-pending {
    fill: rgb(62,166,108,0.16);
}

.milestones-late {
    fill: #DE3C3F;
}