::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background:lightgray;
}

::-webkit-scrollbar-track {
    background-color: rgba(233, 236, 244, 1); 
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background:rgba(0, 0, 0, 0.54);
} 

.chart {
    width: 95vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 30% 70%;
    border: #E8EFFD solid 1px;
    border-radius: 5px;
    padding-bottom: 2.5rem;
    padding-right: 1.5rem;
    /* overflow: auto; */
    overflow-y: scroll;
}

.menu {
    width: 100%;
    height: 100%;
    /* display: grid; */
}

.draw-area {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
}

.search-box {
    padding: 0.5rem;
    border-right: #E8EFFD solid 1px;
    border-bottom: #E8EFFD solid 1px;
    height: 7.5vh;
}

.search-input {
    background-color: #F7F9FD;
    border: none;
    border: #E8EFFD solid 1px;
    border-radius: 5px;
    color: #7E8A95;
    height: 5vh;
    font-size: 0.8rem;
    width: 98%;
    text-indent: 5%;
}

.projects-wrapper {
    border-right: #E8EFFD solid 1px;
    max-height: 72vh;
}

.project {
    width: 100%;
    min-height: 6.77vh;
}

.dropdown-button {
    display: inline-block;
    border: none;
    background: transparent;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.project-name {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 1.2rem;
}

.project-phase {
    display: inline-block;
    float: right;
    height: 100%;
}

.project-phase-para {
    font-size: 0.65rem;
    font-weight: 500;
    margin-top: 1.0rem;
    margin-right: 1.0rem;
    color: white;
    background-color: #88959F;
    border-radius: 3px;
    height: 20px;
    line-height: 20px;
    padding: 0.2rem;
    text-transform: uppercase;
}
/* Charts SVG */

.calendar {
    fill: white;
    stroke-opacity: 0;
}

.dates {
    fill: #7E8A95;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.current-day-line {
    stroke: #5A5A5A;
    stroke-width: 2px;
}

.current-day-circle {
    fill: #5A5A5A
}

/* .milestones {
    fill: #3EA66C;
    cursor: pointer;
} */


.project-bars-wrapper {
    width: 100%;
}

.milestones-bars-wrapper {
    width: 100%;
    height: 6.77vh;
    position: relative;
}

.tasks-bars-wrapper {
    display: none;
    height: 20vh;
    width: 100%;
}

.milestones {
    position: absolute;    
    height: 4vh;
    background-color:  #3EA66C;
    top: 15%;
    cursor: pointer;
    /* border-radius: 5px; */
}

.task-bar {
    top: 15%;
    position: absolute;
    background-color: #3EA66C; 
    height: 2vh;
    cursor: pointer;
    margin: 0px;
    border-radius: 8px;
}

.pending {
    background-color: rgb(62,166,108,0.16);
}

.late {
    background-color: #DE3C3F;
}

.not-started{
    background-color: rgba(25, 151, 252, 0.16);
}

.tasks-wrapper {
    background-color: #E9ECF4;
}

.task-wrapper {
    width: 100%;
    height: 3vh;
    position: relative;
}

.bars-wrapper {
    width: 100%;
    /* background-color: greenyellow; */
}